 /* ********************************************QUESTION-01**********************************************
 
 body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 300px;
            margin: 30px;
            box-sizing: border-box;
            color: blue;
        }
        input, button {
            width: 100%;
            padding: 8px;
            margin: 6px 0;
        }
        .output {
            margin-top: 20px;
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }
        h2{
            color: rgb(0, 10, 150);
            text-align: center;
        } */

 /* ********************************************QUESTION-02********************************************** */
/* 
 .content {
            width: 400px;
            height: 300px;
            font-family: Arial;
        }
        #moreText {
            display: none;
        }
        button {
            margin-top: 5px;
            padding: 5px 10px;
        }       */

 /* ********************************************QUESTION-03********************************************** */

 table {
            border-collapse: collapse;
            width: 80%;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        #editForm {
            display: none;
            margin-top: 20px;
            border: 1px solid #000;
            padding: 10px;
            width: 300px;
        }
